<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Lista ingredienti')}">
</head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container">
            <!-- Titolo -->
            <h1 class="mt-5 text-light text-center">Lista degli ingredienti</h1>

            <div class="row justify-content-between">
                <!-- Aggiungi Ingrediente -->
                <div class="col-9 mb-2 mt-5" sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/ingredienti/create}" class="btn btn-light fw-medium">Aggiungi</a>
                </div>

                <!-- Cerca Ingrediente -->
                <form th:action="@{/ingredienti}" method="GET" class="col-3 mt-5 mb-2 ms-auto">
                    <div class="input-group">
                        <input type="search" name="keyword" id="ingrediente-search-input" class="form-control"
                            th:value="${keyword}">
                        <button class="btn btn-light fw-medium" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>

            <!-- Tabella Ingredienti -->
            <table th:if="${ingredienti.size() > 0}" class="table table-dark table-hover mb-5">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrizione</th>
                        <th>
                            <div class="d-flex justify-content-end">
                                Azioni
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="ingrediente : ${ingredienti}" th:object="${ingrediente}">
                        <td>[[*{nome}]]</td>
                        <td>[[*{descrizione}]]</td>
                        <td>
                            <div class="d-flex justify-content-end gap-2 fw-medium">
                                <!-- Dettagli Ingrediente -->
                                <a th:href="@{|/ingredienti/*{id}|}" class="btn btn-sm btn-light"><i
                                        class="bi bi-eye-fill"></i></a>

                                <!-- Modifica Ingrediente -->
                                <a th:href="@{|/ingredienti/*{id}/edit|}" class="btn btn-sm btn-primary" sec:authorize="hasAuthority('ADMIN')"><i
                                        class="bi bi-pencil"></i></a>

                                <!-- Elimina Ingrediente -->

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    th:data-bs-target="'#delete-modal-' + *{id}" sec:authorize="hasAuthority('ADMIN')">
                                    <i class="bi bi-trash"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:id="'delete-modal-' + *{id}" data-bs-backdrop="static"
                                    data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true" sec:authorize="hasAuthority('ADMIN')">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title text-danger fs-5" id="staticBackdropLabel">
                                                    Elimina Ingrediente</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Sei sicuro di voler eliminare l'ingrediente "[[*{nome}]]"?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-bs-dismiss="modal">Annulla</button>
                                                <form th:action="@{|/ingredienti/*{id}/delete|}" method="post">
                                                    <button type="submit" class="btn btn-danger">Elimina</i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Testo alternativo pizze mancanti -->
            <div th:unless="${ingredienti.size() > 0}" class="mt-5 text-danger text-center">
                <h2>Oops, non ci sono ingredienti </h2>
                <h2>>:(</h2>
            </div>
        </div>
    </main>

    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>