<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(Home)}">
</head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="controller text-center mt-5 text-light">
            <h1>Benvenuto!</h1>

            <a class="btn btn-lg btn-light mt-3 fw-medium" th:href="@{/pizze}">Vai alle pizze</a>
        </div>
    </main>

    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>