<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(Pizze)}">
</head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container text-center">
            <h1 class="mt-5 text-light">Le nostre pizze</h1>

            <table class="table table-dark table-hover mt-5">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrizione</th>
                        <th>Prezzo</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="pizza : ${pizze}" th:object="${pizza}">
                        <td>[[*{nome}]]</td>
                        <td>[[*{Descrizione}]]</td>
                        <td>[[*{Prezzo}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>