<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Le nostre pizze')}">
</head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container">
            <h1 class="mt-5 text-light text-center">Le nostre pizze</h1>

            <form th:action="@{/pizze}" method="GET" class="col-3 mt-5 mb-2">
                <div class="input-group">
                    <input type="search" name="keyword" id="pizza-search-input" class="form-control" th:value="${keyword}">
                    <button class="btn btn-light" type="submit">Cerca</button>
                </div>
            </form>

            <table th:if="${pizze.size() > 0}" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrizione</th>
                        <th>Prezzo</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="pizza : ${pizze}" th:object="${pizza}">
                        <td>[[*{nome}]]</td>
                        <td>[[*{Descrizione}]]</td>
                        <td>[[*{PrezzoEuro}]]</td>
                        <td>
                            <a th:href="@{|/pizze/*{id}}" class="btn btn-sm btn-light">Vedi dettagli</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:unless="${pizze.size() > 0}" class="mt-5 text-danger text-center">
                <h2>Oops, non ci sono pizze</h2>
                <h2>>:(</h2>
            </div>
        </div>
    </main>

    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>