<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(Pizze)}">
</head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container">
            <h1 class="mt-5 text-light text-center">Le nostre pizze</h1>

            <table th:if="${pizze.size() > 0}" class="table table-dark table-hover mt-5">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrizione</th>
                        <th>Prezzo</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="pizza : ${pizze}" th:object="${pizza}">
                        <td>[[*{nome}]]</td>
                        <td>[[*{Descrizione}]]</td>
                        <td>[[*{getPrezzoUmano}]]</td>
                    </tr>
                </tbody>
            </table>

            <div th:unless="${pizze.size() > 0}" class="mt-5 text-danger text-center">
                <h2>Spiacenti, le pizze non sono ancora state registrate</h2>
                <h2>>:(</h2>
            </div>
        </div>
    </main>
</body>

</html>