<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Dettagli della pizza')}">
</head>

<header>
    <nav th:replace="~{fragments/navBar :: navBar}"></nav>
</header>

<body class="bg-dark">
    <main>
        <section>
            <div class="container d-flex justify-content-center mt-5">
                <div class="card text-bg-dark border-light col-4" th:object="${pizza}">
                    <img th:src="*{fotoUrl}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[[*{nome}]]</h5>
                        <p class="card-text">[[*{descrizione}]]</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-bg-dark">[[*{PrezzoEuro}]]</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="row justify-content-center mt-5">
            <div class="col-6">

                <div class="d-flex justify-content-center">
                    <a class="btn btn-md btn-success mb-5" th:href="@{|/pizze/*{id}/aggiungi-offerta|}">Aggiungi offerta</a>
                </div>
                
                <table th:if="${pizza.offerte.size() > 0}" class="table table-dark table-hover mb-5">
                    <h2 class="text-success text-center mb-4">Offerte</h2>

                    <thead>
                        <tr>
                            <th>Titolo</th>
                            <th>Data di inizio</th>
                            <th>Data di fine</th>
                            <th class="d-flex justify-content-end">Azioni</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr th:each="offerta : ${pizza.offerte}" th:object="${offerta}">
                            <td>[[*{titolo}]]</td>
                            <td>[[*{dataDiInizio}]]</td>
                            <td>[[*{dataDiFine}]]</td>
                            <td class="d-flex justify-content-end gap-2 fw-medium">
                                
                                <!-- Modifica Offerta -->
                                <a th:href="@{|/offerte/${offerta.id}/edit|}" class="btn btn-sm btn-primary"><i
                                        class="bi bi-pencil"></i></a>
    
                                <!-- Elimina Offerta -->
    
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    th:data-bs-target="'#delete-modal-' + *{id}">
                                    <i class="bi bi-trash"></i>
                                </button>
    
                                <!-- Modal -->
                                <div class="modal fade" th:id="'delete-modal-' + *{id}" data-bs-backdrop="static"
                                    data-bs-theme="dark" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title text-danger fs-5" id="staticBackdropLabel">Elimina offerta</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Sei sicuro di voler eliminare l'offerta "[[*{titolo}]]"?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-bs-dismiss="modal">Annulla</button>
                                                <form th:action="@{|/offerte/*{id}/delete|}" method="post">
                                                    <button type="submit" class="btn btn-danger">Elimina</i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="d-flex justify-content-center">
            <a class="btn btn-lg btn-light mb-5" th:href="@{/pizze}">Torna indietro</a>
        </section>

        <script th:replace="~{fragments/popper :: popper}"></script>
    </main>
</body>

</html>